@model RegisterViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using MODELS.ViewModels
@using Application
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Register";
}
<!DOCTYPE html>

<html lang="en" class="no-js">
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Cars</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet" type="text/css">
    <link href="~/vendor/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- PAGE LEVEL PLUGIN STYLES -->
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/vendor/swiper/css/swiper.min.css" rel="stylesheet" type="text/css" />

    <!-- THEME STYLES -->
    <link href="~/css/layout.min.css" rel="stylesheet" type="text/css" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
<!-- BODY -->
<body id="body" data-spy="scroll" data-target=".header">

    <h2>Register</h2>

    <p></p>
    <p>
    </p>
    <p></p>
    <form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div>
            <div>
                <label asp-for="Email">Enter Email</label><br />
                <input type="text" asp-for="Email" />
                <span asp-validation-for="Email" />
            </div>
            <div>
                <label asp-for="Password">Enter Password</label><br />
                <input asp-for="Password" />
                <span asp-validation-for="Password" />
            </div>
            <div>
                <label asp-for="ConfirmPassword">Confirm Password</label><br />
                <input asp-for="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword" />
            </div>
            <div>
                <input type="submit" value="Register" />
            </div>
        </div>
    </form>

</body>
<!-- END BODY -->
</html>